<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Busition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7316EA5C1F9A22C20016DA22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7316EA701F9A22C20016DA22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7316EA7B1F9A22C20016DA22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
